body,
html {
	height: 100%;
	margin: 0;
}

.background-container {
	/* The image used */
	background-image: url("../image/Background_CORD.png");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.text-manage
{
    text-align: right !important;
}
.container-fluid {
	height: 100%;
	overflow-y: hidden; /* don't show content that exceeds my height */
}
.font-Extra-bold {
	font-family: "Urbanist_extraBold" !important;
}
.font-bold {
	font-family: "Urbanist_Bold" !important;
}
.font-regular {
	font-family: "Urbanist_Regular" !important;
}
.font-semibold {
	font-family: "Urbanist_semiBold" !important;
}
.font-65 {
	font-size: 65px !important;
}
.font-26 {
	font-size: 26px !important;
}
.font-30 {
	font-size: 30px !important;
}
.padding-custom {
	padding-left: 115px !important;
	margin-top: 2%;
}
.display-block {
	display: block !important;
}
.padding-footer {
	padding-left: 28px !important;
}
.main-header {
	margin-top: 6% !important ;
	line-height: 70px;
}
.img-width
{
    width:200px;
}

@media only screen and (max-width:767px) {
	.font-65 {
		font-size: 30px !important;
	}
	.font-26 {
		font-size: 16px !important;
	}
	.font-30 {
		font-size: 24px !important;
	}
    .text-manage
    {
        text-align: left !important;
        margin-left: 15px !important;
        margin-right: 0px !important;
        margin-top: 40px !important;
    }
	.padding-custom {
		padding-left: 20px !important;
		padding-top: 0px !important;
		margin-top: 20px !important;
	}
	.container-fluid {
		height: 100%;
		overflow: scroll; /* don't show content that exceeds my height */
	}
	.display-block {
		position: absolute;
		top: 0px;
	}
	.padding-header {
		padding-left: 6% !important;
	}
	.main-header {
		margin-top: 35px !important;
		line-height: 40px;
	}
	.padding-footer {
		padding-left: 25px !important;
	}
    .break-check
    {
        line-break: auto;
    }
    .img-width
    {
        width: 150px ;
    }
    .font-regular {
        font-family: "Urbanist_semiBold" !important;
    }

}
