body, html {
    height: 100%;
    margin: 0;
  }
  
  .background-container {
    /* The image used */
    background-image: url("../image/Background_CORD.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.container-fluid {
    height: 100%;
    overflow-y: hidden; /* don't show content that exceeds my height */
}
.font-Extra-bold
{
    font-family: 'Urbanist_extraBold' !important;
}
.font-bold
{
    font-family: 'Urbanist_Bold' !important;
}
.font-regular
{
    font-family: 'Urbanist_Regular' !important;
}
.font-semibold
{
    font-family: 'Urbanist_semiBold' !important;
}
.font-61
{
    font-size: 65px !important;
}
.font-26
{
    font-size: 26px !important;
}
.font-30
{
    font-size: 30px !important;
}
.padding-custom
{
    padding-left: 115px !important;
    margin-top: 190px;
}
.display-block
{
    display: block !important;
}
.padding-footer
{
padding-left: 28px !important;
}
@media only screen and (max-width: 800px) {
    .padding-custom
    {
padding-left: 20px !important;
padding-top: 0px !important;
margin-top: 20px !important;
    }
    .container-fluid {
        height: 100%;
        overflow: scroll; /* don't show content that exceeds my height */
    }
    .display-block
{
   position: absolute;
   top: 0px;
}
.padding-header
{
    padding-left: 10% !important;

}
.padding-footer
{
padding-left: 25px !important;
}

  }


