html, body {
    height: 100%;
    background-color: #000000 !important;
  
}
.container-fluid {
    height: 100%;
    overflow-y: hidden; /* don't show content that exceeds my height */
}
.font-bold
{
    font-family: 'montserratextrabold' !important;
}
.font-regular
{
    font-family: 'montserratregular' !important;
}
.font-semibold
{
    font-family: 'montserratsemibold' !important;
}
.font-61
{
    font-size: 65px !important;
}
.font-17
{
    font-size: 17px !important;
}
.font-23
{
    font-size: 23px !important;
}
.padding-custom
{
    padding-left: 80px !important;
}
.display-block
{
    display: block !important;
}
@media only screen and (max-width: 800px) {
    .padding-custom
    {
padding-left: 20px !important;
    }
    .container-fluid {
        height: 100%;
        overflow: scroll; /* don't show content that exceeds my height */
    }
    .display-block
    {
        display: none !important;
    }
  }


